.cl-badge {
  position: absolute;
  top: -.5em;
  right: -.5em;
  background: #09f;
  padding: 1px 3px 2px 4px;
  font-size: 8px;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  line-height: 1em;
}
