.palette-info {
  position: relative;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 -2px 0 rgba(0,0,0,.05);

  .title {
    font-size: 1.5em;
    margin: 0 .25em 0 0;
    display: inline-block;
    font-weight: 600;
  }

  .username {
    font-size: 1em;
    display: inline-block;
    margin: 0;
    color: #999;
  }

  .saved-palette-button {
    color: @pink-color;
  }

  .divider {
    display: inline-block;
    vertical-align: top;
    margin: .15em .5em 0 1em;
    background: darken(#fff, 6%);
    width: 1px;
    height: 10px;
  }
}

